body, h3, h1{
    margin: 0;
}
.carousel{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.carousel__image, .carousel__slide div {
    width: 50%;
    transition: transform 1s ease-in;
    /* height: 30%; */
    /* object-fit: cover; */
}

.carousel__slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.carousel__slide h1{
    font-size: 300px;
    position: relative;
    bottom: 10px ;
}
.carousel__slide h3{
    font-size: 60px;
    font-weight: normal;
    position: relative;
    top: 130px;
    z-index: 1;
    transition: transform 1s ease-in;
}
.carousel__backgrond li{
    align-items: flex-start;
    overflow: hidden;
}
.carousel__track-container{
    background-color: #D8CFC4;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: background-color 1s ease-in;
}

.carousel__track-title{
    position: absolute;
    top: 75%;
    color: white;
    right: 50%;
    opacity: 1;
    transition: opacity .5s linear;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.carousel__track-title.fade{
    opacity: 0;
}
.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    /* transition: transform 1s ease-in; */
}
.background-text{
    position: relative;
    bottom: 100%;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 99;
    color: white;
    /* font-size: 100px;
    font-weight: 1; */
}

.carousel__button--left{
    left: 130px;
}

.carousel__button--right{
    right: 130px;
}

.carousel__button img{
    width: 150px;
}

.carousel__nav{
    /* background-color: thistle; */
    display: flex;
    justify-content: center;
    padding: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: transparent;
    margin: 0 10px;
    color: white;
}

.carousel__indicator.current-slide::after{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    position: relative;
    left: 1px;
    top: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: white;
 }

.is-hidden{
    display: none;
}
.read-more{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100px;
    height: 90px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
nav{
    position: absolute;
    top: 0px;
    width: 95vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: 0.7s;
}
.burger-menu{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 30px;
    height: 9px;
}
.menu{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}
.menu li{
    list-style: none;
    margin-right: 20px;
    display: none;
}
.car__structure{
    position: absolute;
    bottom: 25%;
    left: 5%;
    padding: 10px;
    display: none;
}
.car__structure img{
    width: 180px;
}
.car__structure div{
    width: 103%;
    height: 51%;
    border: 1px solid white;
    position: absolute;
    left: -4px;
    border-radius: 5%;
}
.car__structure div:hover{
    border: 2px solid #292929 ;
}
.car__structure--top{
    top: -10px;
}
.car__structure--bottom{
    bottom: -10px;
}
.car__info{
    position: absolute;
    top: 23%;
    left: 50%;
    width: 230px;
    padding: 0 20px;
    color: #292929da;
    /* background-color: rgba(255, 255, 255, 0.541); */
    display: none;
    /* transition: display 1s ease-in; ; */
}
.car__info h4{
    color: white;
    font-size: larger;
}
.car__info div{
    border-bottom: 1px solid #2929291a;
    padding: 5px 0  20px 0;
}
.car__info span{
    margin-left: 10px;
}
.wheels{
    width: 49%;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 3px;
    display: inline-flex;
    align-items: center ;
    justify-content: space-around;
}

.rent-now{
    padding: 10px 20px;
    width: 100%; 
    margin-top: 20px;
    background-color: #292929;
    border: 2px solid #292929;
    border-radius: 3px;
    color: white;
}
.car__engine{
    position: absolute;
    top: 40%;
    right: 5%;
    width: 350px;
    display: none;
}
#back{
    position: absolute;
    top: 18%;
    right: 25%;
    font-weight: bolder;
    display: none;
}

#back::before{
    content: '<';
    font-size: 10px;
    display: inline-block;
    padding: 0 4px;
    position: relative;
    right: 5px;
    top: -2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #292929;
 }

 .mobile{
     display: none;
 }
@media (max-width: 767px) {

    nav{
        padding: 0;
    }

    .carousel__image, .carousel__slide div {
        width: 90%;
    }
    .carousel__slide h1 {
        font-size: 130px;
        top: 150px
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .read-more{
        bottom: 6%;
        height: 50px;
    }
    .carousel__track-title{
        top: 67%;
    }
    .carousel__button--left{
        left: 10px;    
    }
    
    .carousel__button--right{
        right: 10px;
    }
    /* .car__engine{
        top: 43%;
        left: 35%;
        width: 100px;
    } */
    .car__info {
        left: 0;
        top: 23%;
        padding: 0 30px;
        width: auto;
    }
    .car__info h5{
        display: none;
    }
    .carousel__slide h3{
        top: 115px;
    }
    /* .car__structure img {
        width: 100px;
    }
    .car__structure {
        right: 5%;
        left: auto;
        bottom: 50%;
    } */

    .car__structure img {
        width: 140px;
        opacity: 1%;
    }
    .car__structure {
        right: 29%;
        left: auto;
        bottom: -4%;
        transform: rotate(-90deg);
        opacity: 7%;
    }
    .car__structure div{
        height: 31%;
    }
}